<h2><%= @cocktail.name %></h2>
<h1><%= @cocktail.author %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>


<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %>
    </li>
  <% end %>
</ul>


<br>
<%= link_to "Back to all cocktails", cocktails_path %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient%>
  <%= f.input :description %>
  <%= @dose.errors.full_messages if @dose.errors.any? %>
  <br>
  <%= f.submit "Add a new description", class: "btn" %>
<% end %>

